@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap');



html{
    background-color: black;
}
body, p, h1{
    margin: 0;
    padding: 0;
}

.box {
  width: 50%;
  margin-left: 25%;
  text-align: center;

}


h1 {
  font-family: 'Libre Baskerville', sans-serif; /* Use Libre Baskerville font */
  font-weight: 400; 
  text-transform: uppercase; 
  color: white; 
  background-color: black;
  
}

p {
 color: white;
 text-align: center;
}

img {
  width: 100%;
  border: 5px solid white; 
}
